h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 46px;
}

.instructions {
  font-style: italic;
}

li {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.done {
  text-decoration: line-through;
}
